<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Task.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3AC21B371CB2640D00EEE03B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AC21B4B1CB2640E00EEE03B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AC21B561CB2640E00EEE03B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
